// responsive cho Mobile (width < 740px)
@media (max-width: 739px) {
	// responsive banner section cho Mobile
	.banner-section {
		.banner-content {
			padding: 30px;

			.banner-heading {
				font-size: 80px;
		    padding: 0;
		    margin-bottom: 20px;
		    width: 250px;
		    margin: 0 auto 20px;
		    display: block;

				span {
					font-size: 80px;
					bottom: -20px;
					right: -50px;
				}
			}

			.banner-subheading {
				text-align: center;
			} 
			.banner-desc {
				text-align: center;

				+ div {
					text-align: center;
				}
			}
		}

		.banner-image {
			padding-bottom: 20px;

			img {
				width: 80%;
			}
		}		
	}

	// responsive categories section cho Mobile
	.categories-section {
		margin: 40px 5px 0;

		.category-item-content {
			padding: 20px 0;

			h6 {
				padding: 0 6px;
			}
		}
	}


	// responsive best-choice section cho Mobile
	.best-choice-section {
		margin: 0;
	}

	// responsive product item cho Mobile
	.list-products {
		.product-item {
			img {
				height: 90%;
				width: auto;
			}
		}
	}

	// responsive about section
	.about-section {
		margin: 30px 0;

		.slogan {
			text-align: center;
			font-size: 1.7rem;
			margin-bottom: .5rem;
		}

		.btn-container {
			margin-top: .5rem;
		}

		.learn-more-btn {
			margin: 4px 4px 0 0;
			display: block;
			text-align: center;
		}
	}

	// responsive fresh-choice section Mobile
	.fresh-choice-section {
		margin-top: 40px;

		.section-title {
			margin-bottom: 20px;
		}
	}

	// responsive feedback section cho Mobile
	.feedback-section {
		margin: 1rem 0;

		.section-title {
			margin-bottom: 1.5rem;
		}

		.slide-item .quote-icon {
			font-size: 3.5rem;
			right: 1rem;
		}
	}

	// responsive statistic section cho Mobile
	.statistic-section {
    margin: 2rem 0;

    .section-title {
    	margin-bottom: 1rem;
    }

    .statistic-item {
    	margin-bottom: .5rem;
    }

    .statistic-name {
    	font-size: 2rem;
    	margin: 0;
    }

    .statistic-value {
    	font-size: 1.5rem;
    }
	}

	// responsive footer cho Mobile
	.middle-footer {
		.contact {
			.logo-brand {
				display: none;
			}

			.contact-list {
				margin: 2rem 0 0;
    		padding-left: 1rem;
    		text-align: center;
			}
		}

		.partner {
			margin: 1rem 0 2rem;

			.title {
				margin-bottom: 10px;
			}

			.desc {
				padding: 0 2rem;
			}

			.mail {
				width: 85%;

				.mail-btn {
					flex-basis: 15%;
				}

				.mail-form {
					padding: 10px 20px;
				}
			}
		}
	}

	.bottom-footer {
		padding: 20px 0;

		.copyright {
			text-align: center;
			margin-bottom: .5rem;
		}

		.payment {
			text-align: center;
		}
	}
}


// responsive cho Tablet (740px <= width < 1024px)
@media (min-width: 740px) and (max-width: 1023px) {
	.banner-section {
		.banner-content {
			.banner-heading {
				font-size: 90px;

				span {
					font-size: 90px;
					right: 20px;
				}
			}
		}

		.banner-image {
			img {
		    width: 90%;
		    float: right;
		    margin: 0;
		    margin-top: 50px;
			}
		}
	}

	.categories-section {
		margin-top: 60px;
	}

	.best-choice-section {
		margin: 2rem 0 0;
	}

	.list-products {
		.product-item {
			img {
				height: 90%;
				width: auto;
			}
		}
	}

	.about-section {
		margin: 2rem 0 0;

		.illustration img {
			width: 85%;
	    display: block;
	    margin: 0 auto;
		}

		.slogan {
			text-align: center;
			margin-top: .5rem;
		}

		.learn-more-btn {
			display: block;
			text-align: center;
			margin: 4px 4px 0 0;
			padding: 10px 25px;
			font-size: 1rem;
		}
	}

	.fresh-choice-section {
		margin-top: 50px;

		.section-title {
			margin-bottom: 2rem;
		}
	}

	.feedback-section {
		margin: 2rem 0 0;

		.section-title {
			margin-bottom: 2rem;
		}
	}

	.statistic-section {
		margin-bottom: 50px;

		.section-title {
			margin-bottom: 1.5rem;
		}

		.statistic-name {
			font-size: 2rem;
			margin-bottom: 0;
		}

		.statistic-value {
			font-size: 1.5rem;
		}
	}

	.middle-footer {
		padding-top: 1rem;

		.contact .logo-brand {
			transform: translate(-20%, 20%);
		}

		.partner {
			margin: 20px 0 40px;

			.mail {
				width: 85%;
			}
		}
	}
}
 
// responsive cho cả Mobile và Tablet
@media (max-width: 1023px) {
	.header {
		.nav {
			display: none;
		}

		.feature-tools {
			margin-right: 20px;

			.tool-item {
				display: none;

				&.search {
					display: block;
					margin: 0;

					> span {
						font-size: 2rem;
					}

					.search-bar__input {
						padding: 10px 20px;
					}

					.search-bar__closed {
						top: 10%;
						right: 5%;
					}
				}
			}
		}

		.nav-menu {
			display: block;
		}
	}

	.categories-section {
		.category-item {
			margin-bottom: 1rem;
		}
	}
}


// responsive cho PC (width >= 1024px)
@media (min-width: 1024px) {
	.header {
		.nav-menu {
			display: none;
		}
	}
}