// reponsive cho Mobile
@media (max-width: 739px) {
	.intro-section {
		padding-top: 1rem;

		.page-path.above {
			padding-left: .5rem;
			margin-bottom: 2rem;
		}

		.page-path.below {
			display: none;
		}

		.intro-images {
			.slider-container {
				margin: 0 auto;
			}
		}

		.sub-images {
			margin: 2rem auto 0;
		}

		.main-image__container {
			img {
				object-fit: contain;
			}
		}

		.product-name {
			margin-top: 2rem;
			margin-bottom: .5rem;
		}

		.product-price {
			margin-top: 1.5rem;
		}

		.product-action {
			flex-wrap: wrap;
			margin-top: 2.5rem;

			.add-to-cart {
				order: 3;
				margin: 10px 0 0 0;
    		width: 100%;
    		font-size: 1rem;
			}
		}

		.social-sharing {
			justify-content: space-evenly;
			margin-top: 2rem;

			.social-btn {
				margin-right: 0;
			}
		}
	}

	.information-section {
		margin-top: 4rem;

		.describe {
			margin-bottom: 2rem;

			.review-rating {
				margin-bottom: 2rem;
			}

			.your-comment:after {
				bottom: -0.5rem;
			}

			.customer-reviews {
				margin-top: 1.5rem;
				margin-bottom: 1rem;
			}
		}

		.specifications {
			.more-btn {
				width: 100%;
				margin-top: 20px;
			}
		}
	}

	.recommend-section {
		.section-title {
			margin-bottom: 2rem;
		}

		.item-actions {
			display: none;
		}
	}

	.specifications-modal {
		.modal-container {
			padding-bottom: 5rem;

			.config-block .item .config-name {
				width: 40%;
				padding-right: 1rem;
			}
		}

		.modal-close-btn {
			bottom: 1.5rem;
		}
	}

	.images-modal {
		.slider {
			height: 83%;
		}

		.thumnails {
			height: 14%;
			width: auto;
    	margin: 0 4px;
		}

		.slider-btn {
			z-index: 1;
			background-color: #ffffff33;
			color: #bbb;

			&:hover {
    		background-color: #ffffff80;
    		color: #afafaf;
    	}

			&.previous {
				left: 0;
			}

			&.next {
				right: 0;
			}
		}

		.slider-container {
			.slider-item {
				display: flex;
				align-items: center;
			}
		}
	}
}

// responsive cho Mobile nhỏ
@media (max-width: 420px) {
	.intro-section {
		.page-path.above {
			margin-bottom: 0;
		}

		.sub-images {
			margin-top: 1rem;
		}
	}
}

// reponsive cho Tablet
@media (min-width: 740px) and (max-width: 1023px) {
	.intro-section {
		padding-top: 1.5rem;

		.page-path.above {
			margin-bottom: 2.5rem;
		}

		.page-path.below {
			display: none;
		}

		.intro-images {
			.slider-container {
				margin: 0 auto;
			}

			.sub-images {
				margin: 2rem auto 0;
			}
		}

		.product-name {
			margin: 2.5rem 0 0;
		}

		.product-action {
			margin-top: 2rem;
		}

		.social-sharing {
			.social-btn {
				margin-right: 1.5rem;
			}
		}
	}

	.information-section {
		margin-top: 3rem;

		.describe {
			margin-bottom: 2rem;

			.customer-reviews .more-btn {
				margin-bottom: 1rem;
			}
		}

		.specifications .more-btn {
			width: 60%;
			margin-top: 1.2rem;
		}
	}

	.recommend-section {
		margin-top: 3rem;

		.section-title {
			margin-bottom: 2rem;
		}
	}

	.images-modal {
		.slider {
			height: 85%;
		}

		.thumnails {
			width: auto;
			margin: 0 .5rem;
			padding-bottom: 0;
		}
	}
}



// reponsive cho PC
@media (min-width: 1024px) {
	.intro-section {
		.page-path.above {
			display: none;
		}
	}
}